@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif !important;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
}

#root {
  width: 100%;
  min-height: 100%;
}

#footer {
  position: relative;
  bottom: 1em;
  padding-top: 2em;
}

.form-check-input {
  cursor: pointer;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #04ab70 !important;
  border: none;
}

#btnlink {
  color: white !important;
  text-decoration: none !important;
  min-width: 100%;
  margin: auto;
  height: 100%;
}

.btn-primary:active {
  outline: white !important;
  border-color: white !important;
}

.card .card-title {
  color: rgb(70, 70, 70);
  font-size: 1.5em;
}

#impactTitle {
  margin: 1em;
  font-size: 1.5em;
}

.card .card-subtitle {
  display: flex;
  color: rgb(129, 129, 129);
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.form-group .form-control {
  border-radius: 40px;
}

#formbtn {
  width: 100%;
  border-radius: 40px;
  background-color: rgb(110, 189, 142);
  border-color: ivory;
  color: white;
}

#logpng {
  width: 100%;
  height: 6em;
  object-fit: cover;
}

#socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 0.5em;
  color: gray;
  font-size: 0.8em;
  width: fit-content;
}

.nav-tabs {
  justify-content: center;
}

ul li .nav-link {
  color: #2b90d9;
}

ul li .nav-link:active {
  color: #04ab70;
}

@media (max-width: 767.98px) {
  body {
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }
  .container-fluid {
    max-width: 480px !important;
  }


  #stickyy {
    max-width: 400px;
  }

  #chartTab {
    width: 100%;
    height: 40vh;
    display: flex;
  }

  #contour {
    padding-bottom: 1em;
    color: rgba(195, 195, 195, 0.753);
  }
}

@media (min-width: 768px) {
  body {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
  }

  .container-fluid {
    max-width: 1000px !important;
    min-height: 90%;
  }

  .container-fluid .row #stickyy {
    position: sticky !important;
    top: 40px;
    width: fit-content;
    height: fit-content;
    max-width: 300px;
  }
  #chartTab {
    width: 100%;
    height: 60vh;
    display: flex;
  }

  #contour {
    display: none;
  }
}
