@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: "Noto Sans KR", sans-serif !important;
}

@media (max-width: 767.98px) { 
  body {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    /* font-family: "Noto Sans KR", sans-serif; */

  }
  .container-fluid {
    max-width: 480px !important;
  }
  
 }

@media (min-width: 768px) {
  body {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    /* font-family: "Noto Sans KR", sans-serif; */

  }

  .container-fluid {
    max-width: 1200px !important;
  }
  .container-fluid .row #stickyy {
    position: sticky !important;
    position: -webkit-sticky;
    top: 30px;
    min-width: 300px;
  }

 }