@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: "Noto Sans KR", sans-serif !important;

}

#btnlink {
  color: white !important;
  text-decoration: none !important;
}


.btn-primary:active {
  outline: white !important;
  border-color: white !important;
}

.card .card-title {
  color: rgb(70, 70, 70);
  font-size: 1.5em;
}

.card .card-subtitle {
  display: flex;
  color: rgb(129, 129, 129);
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.form-group .form-control {
  border-radius: 40px;
}
#formbtn {
  width: 100%;
  border-radius: 40px;
  background-color: rgb(110, 189, 142);
  border-color: ivory;
  color: white;
}

#logpng {
  width: 25px;
  height: auto;
  margin-right: 1em;

}

#socialLink {
  padding: 0.5em;
  margin: 0.5em;
  height: 2.5em;
  color: gray;
  font-size: 10px;
  width: fit-content;
}

@media (max-width: 767.98px) { 
  body {
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;

  }
  .container-fluid {
    max-width: 480px !important;
  }
  
  #stickyy {
    max-width: 400px;
  }

  #contour {
    padding: 10px;
    color: rgba(195, 195, 195, 0.753);
  }
  
 }

@media (min-width: 768px) {
  body {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;

  }

  .container-fluid {
    max-width: 1000px !important;
  }
  .container-fluid .row #stickyy {
    position: sticky !important;
    position: -webkit-sticky; 
    top: 40px;
    width: fit-content;
    height: fit-content;
    max-width: 300px;

  }

  #contour {
    display: none;
  }

 }