block content
    .signup-form_container 
        form(action = routes.base + routes.editProfile, method = "post")
            input(type="text", name="nick_name", placeholder="Nick Name")
            input(type="text", name="using_aircon", placeholder="Using Aircon? true or false" )
            input(type="number", name="loc_code", placeholder="Local Code.")
            input(type="submit", value="Submit")