block content
    .home-link_container
        strong Efficient Usage of Electricity
        ul
            li
                a(href=routes.base + routes.data + routes.dataInput) 데이터 등록
            li
                a(href=routes.base + routes.signup) 회원가입
            li
                a(href=routes.base + routes.login) 로그인
            li
                a(href=routes.base + routes.editProfile) 회원 정보 변경