block content
    .home-link_container
        strong Efficient Usage of Electricity
        ul
            li
                a(href=routes.data+routes.dataInput) 데이터 등록
            li
                a(href=routes.data+routes.dataOutput) 데이터 출력