block content
    .signup-form_container 
        form(action = routes.signup, method = "post")
            input(type="email", name="email", require=true, placeholder="E-mail")
            input(type="number", name="locCode")
            input(type="submit", value="Submit")