# Node Packages
package-lock.json
/node_modules

# Project Environments
.env
config/config.js

# Project Data
/data/init.sql

# Python Cache
__pycache__

# Data Processing
src/data_processing/temp.csv
src/data_processing/model.h5
src/data_processing/config.py
src/data_processing/models
