@import "~bootstrap/scss/functions";

$primary: #6FCBFE;
$secondary: #F1D8BA;
$info: #DBEBF8;
$warning: #F2B705;
$GrayishSkyBlue: #739DB6;
$MinDarkBlue: #59b7e3;
$Gray: #adb5bd;
$LotusSky: #E3F0FC;
$LightGray: #e0e0e0;
$maingreen: rgb(110, 189, 142);

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$custom-colors: (
    "GrayishSkyBlue": $GrayishSkyBlue,
    "MinDarkBlue": $MinDarkBlue,
    "Gray": $Gray,
    "LotusSky": $LotusSky,
    "LightGray": $LightGray
);
    
$theme-colors: map-merge($theme-colors, $custom-colors);
@import '~bootstrap/scss/bootstrap.scss';
    
.card-header {
    background-color: $info !important;
    color: $GrayishSkyBlue;
}

.btn-primary:hover {
    background-color: $secondary !important;
    border-color: $secondary !important;
}

.btn-Gray:hover {
    background-color: $secondary !important;
    border-color: $secondary !important;
}

.dropdown-item:hover {
    background-color: $GrayishSkyBlue !important;
    color: #fff !important;
}

.page-link:focus {
    box-shadow: none;
}

// @import '~bootstrap-icons/font/bootstrap-icons';
// @media screen and (max-width: 768px) {
//     .table > :not(caption) > * > * {
//         border-bottom-width: 0;
//     }
// }